<mat-card>
    <mat-action-list>
        <div mat-subheader><strong>Menu</strong></div>
        <button mat-list-item routerLink='/admin'><mat-icon mat-list-icon>home</mat-icon> Home</button>
        <button mat-list-item routerLink='/admin/profile'><mat-icon mat-list-icon>account_circle</mat-icon> Profile</button>
        <button mat-list-item routerLink='/admin/updatedetails'><mat-icon mat-list-icon>update</mat-icon> Update User Details</button>
        <button mat-list-item routerLink='/admin/approve'><mat-icon mat-list-icon>person_add_alt</mat-icon> Approve User</button>
        <button mat-list-item routerLink='/admin/category'><mat-icon mat-list-icon>category</mat-icon> job categories</button>
        <button mat-list-item routerLink='/admin/addcategory'><mat-icon mat-list-icon>add_circle</mat-icon>Add job-categories</button>
        <button mat-list-item routerLink='/admin/jobs'><mat-icon mat-list-icon>work</mat-icon>Job Posted</button>
        <button mat-list-item routerLink='/admin/company'><mat-icon mat-list-icon>domain</mat-icon>Comapny</button>
        <button mat-list-item routerLink='/admin/candidate'><mat-icon mat-list-icon>people_alt</mat-icon>Candidates</button>


    </mat-action-list>
</mat-card>
