
.header{
    background:linear-gradient(to right,rgba(1, 1, 14, 0.9),rgba(235, 147, 147, 0.3)),
    url(https://images.pexels.com/photos/207253/pexels-photo-207253.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
}
.h1{
    color:red
}
.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }